<header class="container pl-0">
  <div class="bg-image">
    <img Bgchange alt="background image" />
  </div>
  <div class="row">
    <div class="col-12 heading">
      <h1>Fotogaléria</h1>
      <p *ngIf="!categoryName">Kategórie</p>
      <p *ngIf="categoryName">
        <a
          class="backbutton"
          (click)="backToCategories()"
          style="cursor: pointer"
        >
          <span class="back-icon"> </span>
        </a>
        <span class="category"> {{ categoryName }} </span>
      </p>
    </div>
  </div>
</header>
