<span *ngIf="openedModal">
  <modal
    [action]="action"
    (close)="openModalAddPhotos()"
    [error]="error"
  ></modal>
</span>
<span *ngIf="openedGallery">
  <modal
    [action]="gallery"
    [galleryID]="categoryID"
    (close)="openGallery()"
    [index]="indexInGallery"
  ></modal>
</span>
<section>
  <div class="container">
    <div class="row">
      <div class="main-card" *ngFor="let category of images; let i = index">
        <div class="card">
          <a (click)="removePhoto(category.fullpath)">
            <span class="close_cross">&times;</span></a
          >
          <div class="card-header-picture" (click)="openGallery(i)">
            <img [src]="category.imgURL" [alt]="category.name" />
          </div>
        </div>
      </div>

      <div
        class="main-card new-category"
        style="cursor: pointer"
        (click)="openModalAddPhotos()"
      >
        <div class="card">
          <div class="row">
            <div class="col-12">
              <span class="add-icon"></span>
            </div>
            <div class="col-12">
              <p>Pridať fotky</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ngx-bootstrap-spinner
  bdColor="rgba(51,51,51,0.5)"
  size="default"
  color="#fff"
  type="border"
>
</ngx-bootstrap-spinner>

<ngx-bootstrap-spinner
  name="redirecting"
  bdColor="rgba(51,51,51,0.5)"
  size="default"
  color="#fff"
  type="border"
  loadingTextTemplate="Nesprávna galéria, presmerovanie..."
>
</ngx-bootstrap-spinner>
