<div (click)="close()" class="blackdrop"></div>
<div class="alert-box" [ngClass]="{ nopadding: action == 'gallery'}" >
  <div class="alert-box-button-close">
    <button type="button" (click)="close()" class="close-button">
      <span class="close-icon"></span>
      Zavrieť
    </button>
  </div>
  <!-- ADD CATEGORY -->
  <div class="body" id="body" *ngIf="action == 'addCategory'">
    <h3>Pridať kategóriu</h3>

    <form #f="ngForm" (ngSubmit)="addNewCategory()">
      <input
        type="text"
        ngModel
        name="category"
        placeholder="Zadajte názov kategórie"
        required
      />
      <button class="btn" [disabled]="!f.valid">
        <span class="plus-icon" *ngIf="!loading"></span>
        <span class="spinner-border spinner-border-sm mr-1" *ngIf="loading" role="status" aria-hidden="true"></span>
        Pridať
      </button>
    </form>

    <span class="error" *ngIf="error"> {{ error }}</span>
  </div>
  <!-- END CATEGORY -->
  <!-- ADD PHOTOS -->
  <div class="body" id="body" *ngIf="action == 'addPhotos'">
    <h3>Pridať fotky</h3>
    <div class="draganddrop" DropZone (photos)="photosToUpload($event)">
      <span class="photo-icon"> </span>
      <span class="text"> sem presunte fotky</span>
      <span class="text-outlined">alebo</span>

      <input
        type="file"
        multiple
        id="file"
        class="file"
        (change)="photosToUpload($event.target.files)"
      />
      <label class="label-file" for="file">Vyberte súbory</label>
    </div>

    <form style="border: none !important">
      <button class="btn">
        <span class="plus-icon"></span>
        Pridať
      </button>
    </form>
    <span class="error" style="white-space: pre" *ngIf="error">
      {{ error }}</span
    >
  </div>
  <!-- END PHOTOS -->
  <!-- START GALLERY -->
  <div class="body" id="body" *ngIf="action == 'gallery'">
    <ngb-carousel
      #carousel
      [showNavigationArrows]="true"
      [showNavigationIndicators]="false"
      [animation]="false"
      [activeId]="index"
    >
      <ng-template
        [id]="i + 1"
        ngbSlide
        *ngFor="let pic of galery$ | async; index as i"
      >
        <img
          [src]="pic.imgURL"
          [alt]="pic.name"
          style="display: block; width: 100%"
        />
      </ng-template>
    </ngb-carousel>
  </div>
  <!-- ENDSTART GALLERY -->
</div>
