@import "../../styles/global"
@import "../../styles/responsive"
@import "./modal.resposnive"

@keyframes bg
   from
      background-color: rgba(0,0,0, 0.0)
   to
      background-color: rgba(0,0,0, 0.75)

.blackdrop
   position: fixed
   top: 0
   left: 0
   z-index: 1000
   height: 100vh
   width: 100vw
   background-color: rgba(0,0,0, 0.75)
   animation: bg .4s

@keyframes falldown
   from
      opacity: 0
      top: -20%
   to
      top: 50%
      opacity: 1


.nopadding
   padding: 0 !important
.alert-box
   max-width: 95% !important
   background: white
   width: 50%
   opacity: 1
   position: fixed
   top: 50%
   left: 50%
   transform: translate(-50%, -50%)
   z-index: 1001
   padding: 26px
   animation-name: falldown
   animation-duration: .5s
   border-radius: 5px

   .alert-box-button-close
      position: absolute
      top: -40px
      right: 0
      .close-icon
         margin-right: 5px
         margin-bottom: 4px
         transform: scale(.8)
         background-image: url("../../../assets/icons/close-icon.svg")
         height: 28px
         width: 28px
         display: inline-block
         vertical-align: middle
      .close-button
         border: none
         background-color: #0b000100
         color: white
         text-transform: uppercase
         font-weight: 500
         font-size: .9rem
   /** START ADD CATEGORY CSS **/
   #body
      .error
         color: #ff7961
         font-size: 80%
         display: block
         padding: 4% 2% 0 2%
         text-align: center
        
      h3
         font-size: 1.2rem
         text-transform: uppercase
         color: #555555
         font-weight: 500
      form
         padding-top: 20px
         padding-bottom: 5px
         width: 100%
         border-bottom: 1px solid #eeeeee
         height: 70px

         input[type=text]
            width: 70%
            float: left
            padding: 10px 10px 10px 5px
            text-transform: uppercase
            border: none
            font-size: .8rem

            font-weight: 500
            &:focus
               outline: none
            &::placeholder
               color: #aaaaaa
         button
            width: 22%
            float: right
            padding: 10px
            color: white
            text-transform: uppercase
            border-radius: 5px
            background-color: #42c78d
            border-color: #42c78d
            font-size: .8rem
            .plus-icon
               background-image: url("../../../assets/icons/plus-icon.svg")
               height: 14px
               width: 14px
               display: inline-block
               vertical-align: text-top
               transform: scale(0.8)
            &:focus
               outline: none
               box-shadow: none

      /** END ADD CATEGORY **/
      /** ADD PHOTOS **/
      .draganddrop
         margin-top: 20px
         min-height: 220px
         width: 100%
         border: 3px dashed #eeeeee
         text-align: center

         .photo-icon
            background-image: url("../../../assets/icons/photo-icon.svg")
            width: 60px
            height: 42px
            margin: 40px auto 8px auto
            display: block
         .text
            color: #aaaaaa
            text-transform: uppercase
            font-weight: 700
            display: block
         .text-outlined
            display: block
            color: #aaaaaa
         .file
            opacity: 0
            width: 0.1px
            height: 0.1px
            position: absolute
         .label-file

            display: block
            width: 220px
            height: 45px
            border-radius: 5px
            background-color: white
            border: 3px solid #aaaaaa
            color: #aaaaaa
            display: flex
            align-items: center
            justify-content: center
            margin: 5px auto auto auto
            text-transform: uppercase

            cursor: pointer

   /** END ADD PHOTOS  **/
   /** START GALLERY  **/
ngb-carousel
   &::ng-deep .carousel-control-next
      margin-right: -80px !important
      .carousel-control-next-icon
         background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="24px"><path fill-rule="evenodd"  fill="rgb(249, 249, 249)" d="M3.775,-0.000 L0.924,2.820 L10.182,12.000 L0.924,21.180 L3.775,24.000 L15.903,12.000 L3.775,-0.000 Z"/></svg>')
         width: 16px
         height: 24px
   &::ng-deep .carousel-control-prev
      margin-left: -80px !important
      .carousel-control-prev-icon
         background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px" height="24px"><path fill-rule="evenodd"  opacity="0.502" fill="rgb(249, 249, 249)" d="M12.157,24.000 L15.013,21.180 L5.736,12.000 L15.013,2.820 L12.157,-0.000 L0.003,12.000 L12.157,24.000 Z"/></svg>')
         width: 16px
         height: 24px

   &:focus
      outline: none
   /** END GALLERY GALLERY  **/
