<span *ngIf="openedModal">
  <modal [action]="'addCategory'" (close)="openModalAddCategory()"></modal>
</span>

<section>
  <div class="container">
    <div id="categories" class="row">
      <div
        class="main-card"
        *ngFor="let category of categories"
        (mouseover)="changeBg(category.img)"
      >
        <div class="card">
          <a (click)="removeGallery(category.galleryPath)">
            <span class="close_cross">&times;</span></a
          >
          <a
            [routerLink]="['/gallery/' + category.name]"
            routerLinkActive="router-link-active"
            style="text-decoration: none"
          >
            <div class="card-header">
              <img
                [src]="category.img"
                [alt]="category.na"
                onerror="this.src='../../assets/noimage.png'"
              />
            </div>
            <div class="card-title">
              <span class="title"> {{ category.name }}</span>
              <span class="photos" *ngIf="category.galleryLenght > 2"
                >{{ category.galleryLenght }} fotiek</span
              >
              <span class="photos" *ngIf="category.galleryLenght == 1"
                >{{ category.galleryLenght }} fotka</span
              >
              <span class="photos" *ngIf="category.galleryLenght == 2"
                >{{ category.galleryLenght }} fotky</span
              >

              <span class="photos" *ngIf="!category.galleryLenght"
                >0 fotiek</span
              >
            </div>
          </a>
        </div>
      </div>

      <div
        class="main-card new-category"
        (click)="openModalAddCategory()"
        style="cursor: pointer"
      >
        <div class="card">
          <div class="row">
            <div class="col-12">
              <span class="add-icon"></span>
            </div>
            <div class="col-12">
              <p>Pridať kategoriu</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
